[submodule "aux/biblio"]
	path = aux/biblio
	url = git@git.exactas.uba.ar:bayes/biblio.git
[submodule "aux/tex"]
	path = aux/tex
	url = git@git.exactas.uba.ar:bayes/tex.git
[submodule "aux/static"]
	path = aux/static
	url = git@git.exactas.uba.ar:bayes/static.git
