[submodule "aux/biblio"]
	path = auxiliar/biblio
	url = git@github.com:BayesDeLasProvinciasUnidasDelSur/biblio.git
[submodule "aux/tex"]
	path = auxiliar/tex
	url = git@github.com:BayesDeLasProvinciasUnidasDelSur/tex.git 
[submodule "aux/static"]
	path = auxiliar/static
	url = git@github.com:BayesDeLasProvinciasUnidasDelSur/static.git
