[submodule "aux/biblio"]
	path = auxiliar/biblio
	url = git@github.com:BayesDeLasProvinciasUnidasDelSur/biblio.git
[submodule "aux/tex"]
	path = auxiliar/tex
	url = git@github.com:BayesDeLasProvinciasUnidasDelSur/tex.git 
[submodule "aux/static"]
	path = auxiliar/img
	url = git@github.com:BayesDeLasProvinciasUnidasDelSur/static.git
[submodule "evaluacion/2023.1/hackaton/hackaton40"]
	path = evaluacion/2023.1/hackaton/hackaton40
	url = git@github.com:MetodosBayesianos/hackaton40.git
